In [ ]:
import math
import os
import random
import re
import sys

In [14]:
if __name__ == '__main__':
    n = int(input().strip())
    range_1 = range(0,101)
    if n in range_1 and n%2 == 1 : print('Weird')
    elif n in range_1 and n%2 == 0 and n in range (1,6) : print('Not Weird')
    elif n in range_1 and n%2 == 0 and n in range (5,21) : print('Weird')
    elif n in range_1 and n%2 == 0 and n>20 : print('Not Weird')
    else : print('Not Weird')

20
Weird

In [11]:
  if __name__ == '__main__':
    n = int(input().strip())
    if n%2 == 1 : print('Odd')

8

In [19]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    s = a+b
    sub = a-b
    p = a*b
    print (s)
    print (sub)
    print (a*b)

3
2
5
1
6

In [21]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    d = a//b
    f = a/b
    print (d)
    print (f)

4
3
1
1.3333333333333333

In [37]:
if __name__ == '__main__':
    n = int(input())
    for i in range(0, n):
        ##if i%2 == 0 : print (i**2)
        exp = i ** 2
        print (exp)

3
0
1
4

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.

In [57]:
def is_leap(year):
    leap = False 
    if year%4==0:
        if year%100==1:
            if year%400==0:
                leap = True
    return leap

year = int(input())
print(is_leap(year))

2000
False

In [2]:
def is_leap(year):
    leap = False 
    if year%4==0 and (year%400==0 or year%100!=0):
        leap = True
    return leap

year = int(input())
print(is_leap(year))

1800
False

In [65]:
if __name__ == '__main__':
    n = int(input())
    i=0
    for i in range(0,151):
        if i<n:
            i = i+1
            print (i, end="")

3
123

input() gets user input and returns a string, e.g. "1 2 3 4 5"

input().split() splits that input on whitespaces, e.g. ["1", "2", "3", ...]

int() converts a string to a integer, e.g. "1" -> 1

map(fn, sequence) applies the function fn to each element in the sequence, e.g. fn(sequence[0]), fn(sequence[1]), ...

map(int, input().split()) applies int to each string element in the input, e.g. ["1", "2", "3", ...] -> int("1"), int("2"), ...

list() turns any iterator/generator to a list, e.g. int("1"), int("2"), ... => [1, 2, 3, ...]

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    print(type(arr))
    print(sorted(list(set(arr)))[-2])
    ##print (n)
    ##print(list(arr))
    ##print(max(arr))

In [23]:

if __name__ == '__main__':
    students = []
    scores = []
    for N in range(int(input())):
        name = input()
        score = float(input())
        scores.append(score)
        students.append([name, score])
    
    count = scores.count(min(scores))
    print(count)
    for i in range(count):
        scores.remove(min(scores))
        print(scores)
    secondHigh = min(scores)
    print(secondHigh)
    
    students.sort()
    print(students)
    output = [x for x in students if x[1] == secondHigh]
    for i in output:
        print(i[0])

5
HARRY
37.21
BERRY
37.21
TINA
37.2
ARKITI
41
HARSH
39
1
[37.21, 37.21, 41.0, 39.0]
37.21
[['ARKITI', 41.0], ['BERRY', 37.21], ['HARRY', 37.21], ['HARSH', 39.0], ['TINA', 37.2]]
BERRY
HARRY